a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-size: 25pt;
    font-family: 'Kievit';
    margin: 0;
    min-height: 100vh;
    width: 100vw;

}

h1 {
    background-color: #82A7A6;
    font-size: 25pt;
    font-family: 'Kievit';

}

h2 {
    background-color: #785964;
    font-size: 25pt;
    font-family: 'Kievit';

}

#normal {
    font-size: 15pt;
    font-family: 'Kievit';
    color: white;
}

img {
    width: 300px;
    height: 300px;
    float: left;
    padding: 5px;
}


nav {
    padding-top: 25px;
    padding-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 2000px;
    margin: 0 auto 50px;
    background-color: #9ED0E6;
    font-size: 25pt;
    font-family: 'Kievit';

}

li {
    list-style-type: none;
    display: list-item;
    font-size: 25pt;
    font-family: 'Kievit';
    margin: 20px;

}


table {
    color: white;
    font-size: 20pt;
    text-align: center;
    padding: 50px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

form {
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    margin-right: 0 auto 50px;
    display: block;


}

label {
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    margin-right: 0 auto 50px;


}


#black {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#dvd {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 100px;
    mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
    -webkit-mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
}