<!-- Code for this page copied from/based on
nodejs-starter-app from osu-cs340-ecampus github account
Step 3- Integrating a Templating Engine (Handlebars)
Date: 8/14/23
URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
 -->


<head>
    <meta charset="utf-8">
    <title>SCI-FLIX Database</title>
    <link id="stylesheet" href="css/style.css" rel="stylesheet" type="text/css" />

</head>
<nav>
    <ul>
        <li id=header_id> <a href="/">Home</a></li>
        <li id=header_id><a href="/Members">Members</a></li>
        <li id=header_id><a href="/Movies">Movies</a></li>
        <li id=header_id> <a href="/Sub_Genres">Sub-Genres</a></li>
        <li id=header_id><a href="/Awards">Awards</a></li>

        <li><a href="/Members_Has_Movies">Member's <br> Movies</a></li>
        <li><a href="/Movies_Has_Awards">Movie <br> Awards</a></li>
        <li><a href="/Members_fave_Sub_Genres">Member's Favorite <br> Sub-Genre</a></li>
    </ul>

</nav>

<body>

    {{{body}}}

</body>
