<!-- Code for head portion based on SA CS290 Web Dev Project
    index.html page header
    Date: 8/14/2023 -->

<head>
    <meta charset="utf-8" />
    <title>CS340 Final Version: Portfolion Project</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<!-- Below is original code to display intro to site and link images -->
<body>
    <h1 id=head_title> Welcome to SCI-FLIX </h1>
    <h2>Your one stop shop for anything Scifi! We bring to you the best DVD selection in the galaxy from Avatar to
        Zathura, we have a collection you can review for your selection preferences
    </h2>

    <p id="normal">Check out pictures of our virtual store!</p>

    <div>
        <img src="/css/Image_2/image_cJ8oUTk8_1690152087985_raw.jpg">
        <img src="/css/Image_2/image_i3Hiu7ii_1690152209117_raw.jpg">
        <img src="/css/Image_2/image_t2wiyIO7_1690152201449_raw.jpg">
        <img src="/css/Image_2/image_wHMX0f1S_1690152203938_raw.jpg">
    </div>
    <br>
    <div id="black">
        <div id="dvd"></div>
    </div>
    <script type="text/javascript" src="/css/Bouncing_DVD.js"></script>
</body>