<!-- Refer to README for reference -->

<head>
    <meta charset="utf-8" />
    <title>Project Step 3 Final Version: Design HTML Interface (Group / On Canvas)</title>
    <link id="stylesheet" href="/public_html/CS_340/views/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <h1 id=head_title>Welcome to SCI-FLIX - HB</h1>
    <h2>Your one stop shop for anything Scifi! We bring to you the best DVD selection in the galaxy from Avatar to
        Zathura, we have a collection you can review for your selection preferences
    </h2>
    {{!-- <headers>

    </headers> --}}

    <p id="normal">Check out pictures of our virtual store!</p>

    <div>
        <img src="/css/Image_2/image_cJ8oUTk8_1690152087985_raw.jpg">
        <img src="/css/Image_2/image_i3Hiu7ii_1690152209117_raw.jpg">
        <img src="/css/Image_2/image_t2wiyIO7_1690152201449_raw.jpg">
        <img src="/css/Image_2/image_wHMX0f1S_1690152203938_raw.jpg">
    </div>
    <br>
    <div id="black">
        <div id="dvd"></div>
    </div>
    <script type="text/javascript" src="/public_html/CS_340/views/css/Bouncing_DVD.js""></script>
</body>